<ion-content>
  <div id="container">
    <div class="hamburguesa">
      <ion-menu-button color="dark"></ion-menu-button>
    </div>
    <div class="map" #map></div>
    <div class="inferior">
      <div class="encabezado-conductor">
        <img src="\assets\imgs\avatar.svg" alt="">
        <h2 *ngIf="cargado">{{sesion.nombre}}</h2>
        <div class="btn-cancel" (click)="volver()">
          <ion-icon name="close-circle-outline"></ion-icon>
        </div>
      </div>
    <ion-list>
      <ion-list-header routerLink="/fin-viaje">
          <ion-label>
            <h2>Pasajeros:</h2>
          </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-avatar>
          <img src="\assets\imgs\avatar-placeholder.png" alt="">
        </ion-avatar>
        <ion-label color="medium">Libre</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar>
          <img src="\assets\imgs\avatar-placeholder.png" alt="">
        </ion-avatar>
        <ion-label color="medium">Libre</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar>
          <img src="\assets\imgs\avatar-placeholder.png" alt="">
        </ion-avatar>
        <ion-label color="medium">Libre</ion-label>
      </ion-item>
    </ion-list>
    </div>
  </div>
</ion-content>