#container {
    margin-top: 1rem;
    width: 90%;

    --circulo: 10px;
    --sim-color: #5e5e5e;
}

.container-input-sup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding-right: 1rem;
}

.simbolo {
    width: 10px;
    margin-right: .6rem;
}

.linea {
    position: relative;
    width: 2px;
    height: 75px;
    background-color: var(--sim-color);
    margin: 0 auto;
}

.linea::before {
    content: "";
    position: absolute;
    top: 0;
    left: -4px;
    width: var(--circulo);
    height: var(--circulo);
    background-color: var(--sim-color);
}

.linea::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -4px;
    width: var(--circulo);
    height: var(--circulo);
    background-color: var(--sim-color);
    border-radius: 50%;
}

form {
    flex: 1;
}

ion-item:not(:first-child) {
    margin-top: 1rem;
}

.container-input-inf {
    margin-top: 1rem;

    ion-button {
        margin-top: 1rem;
    }
}

img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.autocompletado {
    background-color: white; 
    width: 100%; 
    margin-top: 1rem;
    border: 1px solid #808080;
    border-radius: 5px;
    height: 48px;
    padding-left: 1rem;
}