
ion-checkbox::part(container) {
    size: 5px;
    border-radius: 6px;
    border: 2px solid #18f77c;
    
  }



.fondoHeader{
  background-color:rgb(77, 172, 124);
}

.fondoContent{
    color:rgb(10, 10, 10);
    text-align: justify;
    padding:10%;
}
.ion-title{
    color: aquamarine;
    
}
.text{
  color: azure;
}

img {
    display: block;
    margin: 0 auto;
  }

.logo {
    max-width: 50px; /* Ajusta el tamaño máximo en píxeles según tus necesidades */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  }
  