<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Ionic App</title>
  <!-- Mueve el script de Google Maps API al encabezado -->
</head>
<body>

<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>googlemap</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">googlemap</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div #mapElement style="height: 100%;"></div>
    </ion-content>
    

    <!-- Asegúrate de que las dimensiones del mapa estén definidas -->
    
  </ion-content>

</ion-app>



</body>
</html>

